body {
    font-size: 135%;
    color: aliceblue;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family:'Gill Sans', 'Gill Sans MT', 'Times New Roman', Times, serif, Calibri, 'Trebuchet MS', sans-serif;
    background: radial-gradient(circle at left, #c7c8c9, #3d5c7c);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 120vh;
}

img {
    border-radius: 14pt;
}

.thumbnail {
    width: 100pt;
    height: 100pt;
}
.spiked-ice-cream {
    width: 100pt;
    height: 100pt;
    /* background-image: url("https://preview.redd.it/mcdonalds-french-ice-cream-made-this-myself-v0-5vl816xm8o7b1.jpg?width=640&crop=smart&auto=webp&s=59187bc1825ab0144985cf1b0c2d6e1d3d82c038"); */
    background-size: 200px;
    border-radius: 14pt;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.frame {
    color: whitesmoke;
}
.top-line {
    border-radius: 200%;
    left: 15%;
    right: 15%;
    background-color: rgba(255, 255, 255, 0.45);
    height: 6px;
    width: 80%;
}
.dish-container {
    font-style: oblique;
    margin-top: 20px;
    padding-top: 2pt;
    display: flex;
    width: 120%;
    border-top: 1px solid  rgb(200, 211, 221); 
    border-bottom: 1px solid rgb(200, 211, 221); 
    display: flex;
    flex-direction: column;
    margin-bottom: 12pt;
}

.dish-row {
    /* font-size: medium; */
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dish-name-desc {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dish-name-desc p {
    margin-top: -6pt;
}

.dish-name-desc h3 {
    font-size: larger;
}

.dish-row > * {
    margin: 6pt;
}

.footer-box {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #2c3941;
    padding-bottom: 0pt;
    /* padding-top: 10pt; */
    padding-left: 2%;
    /* background: radial-gradient(); */
}